body {
  background-color: #f3f1f2;
  font-family: sans-serif;
}

.quill {
  width: 380px;
  margin: 0 auto;
}

.quill .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background-color: #fefcfc;
}

.quill .ql-toolbar {
  display: block;
  background-color: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.quill .ql-formats {
  color: #fff;
}
