/*
//              ___             _   _  _ _
//             | __|_ _____ _ _| |_| || (_)
// Property of:| _|\ V / -_) ' \  _| __ | |
//             |___|\_/\___|_||_\__|_||_|_|
//
*/


@media (max-width: 374px) {
    .button {
        max-width: 74px !important;
        min-width: 74px !important;
        float: left
    }
    .button > div > span {
      font-size: 11px !important;
    }
}