/*
//              ___             _   _  _ _
//             | __|_ _____ _ _| |_| || (_)
// Property of:| _|\ V / -_) ' \  _| __ | |
//             |___|\_/\___|_||_\__|_||_|_|
//
*/

.logo {
  height: 40px;
  padding-left: 10px;
  margin: 12px 0;
  cursor: pointer;
}
